.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.addVideoLink {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 114px;
  height: 35px;
  gap: 6px;
  border-radius: 18px;
  background-color: rgba(255, 255, 255, 0.1);
  line-height: 1px;

  &:hover {
    background: rgba(255, 255, 255, 0.3);
  }

  &::before {
    content: "+";
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    font-size: 24px;
    font-weight: 100;
  }
}

.yourProfileLink {
  display: block;
  width: 32px;
  height: 32px;
  background-color: gray;
  border-radius: 50%;

   &:hover {
    background: #bbbbbb;
  }


  .hiddenText {
    width: 0;
    height: 0;
    opacity: 0;
  }
}

.rightPart {
  display: flex;
  gap: 16px;
}
