.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.notFound {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.image {
  border-radius: 45px;
  width: 185px;
  height: 174px;
  margin-bottom: 10px;
}

.link {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  width: 145px;
  height: 30px;
}
