.container {
  display: grid;
  grid-template-rows: 55px auto;
  grid-template-columns: 240px minmax(0, 1fr);
  height: 100dvh;
  padding-right: 12px;

  > :first-child {
    grid-column: span 2 / span 2;
    padding: 0 16px;
  }
}
