.video {
  display: flex;
  flex-direction: column;
  margin: 20px;
}

.input {
  padding: 6px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.button {
  padding: 6px 12px;
  margin-left: 10px;
  color: white;
  cursor: pointer;
  background-color: #d62828;
  border: none;
  border-radius: 4px;
}

.player {
  width: 100%;
  max-width: 1491px;
  aspect-ratio: 1491 / 839;
  margin-top: 16px;
  border: none;
}
