.leftMenu {
  padding: 12px;
}

.nav {
  display: flex;
  flex-direction: column;
}

.link {
  display: flex;
  gap: 24px;
  align-items: center;
  height: 40px;
  padding: 0 12px;
  font-style: 14px;
  border-radius: 10px;

  &:hover {
    background-color: rgb(255 255 255 / 30%);
  }
}

.icon {
  margin-bottom: 4px;
}
